html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  background-color: #640fc5;
}

button {
  height: 30px;
  text-align: center;
  border-radius: 1em;
}

.paddingl-medium {
  padding-left: 20px;
}

.paddingl-small {
  padding-left: 10px;
}

.paddingl-large {
  padding-left: 30px;
}

.paddingr-medium {
  padding-right: 20px;
}

.paddingr-small {
  padding-right: 10px;
}

.paddingr-large {
  padding-right: 30px;
}

.paddingt-medium {
  padding-top: 20px;
}

.paddingt-small {
  padding-top: 10px;
}

.paddingt-large {
  padding-top: 30px;
}

.paddingb-medium {
  padding-bottom: 20px;
}

.paddingb-small {
  padding-bottom: 10px;
}

.paddingb-large {
  padding-bottom: 30px;
}

.marginb-medium {
  margin-bottom: 20px;
}

.marginb-small {
  margin-bottom: 10px;
}

.marginb-large {
  margin-bottom: 30px;
}

.marginl-medium {
  margin-left: 20px;
}

.marginl-small {
  margin-left: 10px;
}

.marginl-large {
  margin-left: 30px;
}

.margint-medium {
  margin-top: 20px;
}

.margint-small {
  margin-top: 10px;
}

.margint-large {
  margin-top: 30px;
}

.marginr-medium {
  margin-right: 20px;
}

.marginr-small {
  margin-right: 10px;
}

.marginr-large {
  margin-right: 30px;
}

@keyframes headermoving {
  0% {
    transform: translatey(-300px);
  }
  25% {
    transform: translatey(-100px);
  }
  50% {
    transform: translatey(-50px);
  }
  75% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes flexmoving {
  0% {
    transform: translatey(-800px);
  }
  25% {
    transform: translatey(-600px);
  }
  50% {
    transform: translatey(-300px);
  }
  75% {
    transform: translatey(-50px);
  }
  100% {
    transform: translatey(0px);
  }
}
nav {
  display: flex;
  justify-content: space-between;
}
nav img {
  width: 100%;
  height: 50px;
  border-radius: 2em;
  box-shadow: skyblue 2px 2px 2px 2px;
  border: 2px solid skyblue;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li:hover {
  cursor: pointer;
}

h1 {
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  color: white;
}

.center {
  text-align: center;
}

.flexidv {
  display: flex;
  justify-content: space-between;
  padding-left: 20px;
}
.flexidv div img {
  animation: flexmoving 13s linear 1;
}

.larghezza-altezzacontainer {
  width: 90%;
  height: 300px;
  border-radius: 2em;
  box-shadow: skyblue 1px 1px 1px 1px;
}

.firstbutton {
  background-color: #0e6cff;
}
.firstbutton:hover {
  cursor: pointer;
}

.z {
  background-color: #ff8700;
}
.z:hover {
  cursor: pointer;
}

.y {
  background-color: #4caf50;
}
.y:hover {
  cursor: pointer;
}

a {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  color: #f16e6e;
}

header {
  animation: headermoving 5s linear 1;
}/*# sourceMappingURL=style.css.map */